.nav-custom-bg{
    background-color: #087c9c92;
    color: white;
}

.search-bar{
    width: 80%;
    justify-content: center;
    outline: none;
    height: auto;
}
.input-bg{
    background-color: #1f1f1f;
    color: white;
}