.nav-custom-bg{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* You can adjust the values as needed */
    transition: box-shadow 0.2s ease; /* Add a smooth transition effect */
}
.nav-custom-bg:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar{
    width: 80%;
    justify-content: center;
    outline: none;
    height: auto;
}
.input-bg{
    background-color: #1f1f1f;
    color: white;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.search-input {
  border: none;
  padding: 5px;
  width: 80%;
  outline: none;
  /* color: black; */
}

.search-button {
  padding: .4rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333; /* Text color */
}

/* Add an icon to the button */
.search-button img {
  width: 20px; /* Adjust the icon size as needed */
  height: 20px;
  margin-right: 5px; /* Add spacing between the icon and text */
}


/* Dropdown container */
.dropdown2 {
  position: relative;
  display: inline-block;
}



/* Username */
.username {
  font-weight:600;
  font-size: .9rem;
  color: black;
}


/* Dropdown menu */
.dropdown-menu2 {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dropdown items */
.dropdown-item2 {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-item2:hover {
  background-color: #e2e2e2;
}

/* Style for the "Logout" item */
.logout {
  color: red;
  cursor: pointer;
}

/* Show the dropdown menu when hovering over the container */
.dropdown2:hover .dropdown-menu2 {
  display: block;
}







  @media (max-width: 991px) {
    .d-none-991 {
      display: none;
    }
  }

  @media (min-width: 991px) {
    .responsive-div {
      display: none; /* Show the div when the viewport width is 991px or less */
    }
  }